*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'vazirmatn', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #333;
    background-color: aliceblue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 90vh;
}
.button{
    border:none;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height:100px;
    width: 100px;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: palevioletred;
    transform: translateY(-5px);
}